@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

:root {
  /* Colors */
  --lightest-color: hsl(193, 72%, 100%);
  --lighter-color: hsl(193, 72%, 90%);
  --light-color: hsl(193, 72%, 80%);
  --base-color: #0081a7;
  --dark-color: hsl(209, 89%, 24%);
  --darker-color: hsl(241, 72%, 25%);

  /* Transition speed */
  --transition-normal: all 0.2s;
  --transition-slow: all 0.5s;
}

/* Keyframe animations */
@keyframes vibrate {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-3px);
  }

  50% {
    transform: translateX(3px);
  }

  75% {
    transform: translateX(-3px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes twinkle {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* Dark Mode colors */
.dark-mode {
  --lightest-color: hsl(193, 72%, 5%);
  --lighter-color: hsl(193, 72%, 15%);
  --light-color: hsl(193, 72%, 25%);
  --base-color: #0081a7;
  --dark-color: hsl(243, 45%, 80%);
  --darker-color: hsl(241, 72%, 100%);
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

/* Header Styling */
.dashboard-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-area: 1/2;
  width: 100%;
  background-color: var(--lightest-color);
  border-bottom: 2px solid var(--base-color);
  padding: 0.8rem 4rem;
}

.dashboard-header > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.flex-end {
  justify-content: flex-end;
}

.search-section i,
.user-section i,
.greeting-section span {
  font-size: 2rem;
  color: var(--base-color);
  cursor: pointer;
}

/* Search Section */
.search-section input {
  height: 60%;
  width: 80%;
  color: var(--base-color);
  font-size: 1.2rem;
  font-weight: 500;
  outline: none;
  border: 2px solid var(--base-color);
  border-radius: 2rem;
  padding: 0.8rem 1rem;
}

/* User and Action */

.user-section img {
  max-height: 50px;
  max-width: 50px;
}

.action-section {
  gap: 1rem;
}

.action-section button {
  background-color: var(--light-color);
  color: var(--base-color);
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--base-color);
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  transition: var(--transition-slow);
}

.action-section button:hover {
  background-color: var(--lightest-color);
  transform: scale(0.95);
}

/* Animations */
.bell-vibrate:hover {
  animation: vibrate 0.1s infinite;
}

.user-section i:not(.bell-vibrate):hover {
  animation: twinkle 1.5s infinite;
}

.user-section a {
  transition: var(--transition-slow);
}

.user-section a:hover {
  transform: rotate(720deg);
}

/* Sidebar */
.sidebar {
  grid-row: 1/-1;
  height: 100vh;
  width: 20rem;
  background-color: var(--light-color);
}

.sidebar .nav-list {
  padding-block: 2rem;
}

.sidebar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: var(--base-color);
  margin-block: 1rem;
}

.sidebar .logo i {
  font-size: 4.1rem;
}

.nav-list li {
  cursor: pointer;
  padding: 0.5rem 2rem;
  transition: var(--transition-normal);
}

.nav-list a {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  color: var(--base-color);
  text-decoration: none;
}

.nav-list li:hover {
  background-color: var(--lighter-color);
}

.nav-list li:hover > * {
  color: var(--darker-color);
}

/* Content */
.content-wrapper {
  display: grid;
  grid-template-columns: 80% 20%;
  padding-inline: 2.5rem;
  padding-top: 1rem;
  background-color: var(--lightest-color);
  color: var(--base-color);
}

.extras {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.extras > div:last-child {
  margin-top: 0.7rem;
}

.bottom-margin {
  margin-bottom: 0.5rem;
}

/* Project Section */

.projects-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.2rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  height: 218px;
  width: 550px;
  border-radius: 0.8rem;
  border: 1px solid var(--darker-color);
  border-left: 10px solid var(--base-color);
  padding-inline: 1.5rem;
  transition: var(--transition-normal);
}

.project-card a,
.project-card i {
  text-decoration: none;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: inherit;
}

.project-card p {
  margin-bottom: 1rem;
}

.card-buttons {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  left: 420px;
}

.card-content {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  padding: 0.5rem;
}

.card-content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  color: var(--base-color);
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.5rem;
}

.card-content a {
  color: var(--base-color);
  font-weight: 500;
}

.card-buttons .tooltip {
  position: relative;
  display: inline-block;
}

.card-buttons i:hover {
  transform: scale(1.1);
}

.card-buttons .tooltip:hover::after {
  content: attr(aria-label);
  position: absolute;
  font-size: 0.8rem;
  top: 100%;
  left: 50%;
  z-index: 1;
  background-color: var(--base-color);
  color: var(--lightest-color);
  white-space: nowrap;
  border-radius: 4px;
  padding: 5px;
  transform: translate(-50%);
}

/* Trending */

.trending {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--base-color);
  background-color: var(--lighter-color);
  border-radius: 1rem;
  padding: 0.8rem 3.5rem;
  min-width: 320px;
  transition: var(--transition-normal);
}

.user img {
  max-height: 40px;
  max-width: 40px;
  background-color: #ffffff;
  border-radius: 50%;
}

.user {
  display: flex;
  gap: 1rem;
}

.user-info {
  display: flex;
  flex-direction: column;
}
